* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Righteous", cursive;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.7;
  color: orangered;
}

.heading-primary {
  color: blue;
  text-transform: uppercase;
}
.heading-primary--main {
  font-size: 26px;
}

.header {
  height: 85vh;
  background-image: linear-gradient(
      to left bottom,
      rgba(189, 218, 85, 0.8),
      rgba(10, 102, 151, 0.8)
    ),
    url(../img/guitar.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
