// Colors

$color-primary: #17a2ed;
$color-primary-light: #51abdb;
$color-primary-dark: #276a8f;

// $color-secondary: rgb(131, 88, 31);
$color-secondary-light: #d15c0a;
$color-secondary-dark: #ba3300;

$color-tertiary-light: #db9f51;
$color-tertiary-dark: #8f5b18;

$color-white: #fff;
$color-black: #000;

// #78E8FF
// rgba(131, 88, 31, 0.8)

// Font

$default-font-size: 1.6rem;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
