.course-box {
  // padding: 60px 14px;
  position: relative;
  // font-size: 40rem;
  // object-fit: cover;

  &-main {
    background-image: url(../img/Guitar-teacher.jpg);
    height: 50rem;
    max-width: 100%;
    object-fit: cover;
    // object-position: right;
  }

  &-small {
    height: 20rem;
    width: 25rem;
    margin: 0 10rem 10rem 0;
    object-fit: fill;
    &-1 {
      background-image: url(../img/Guitar-course-1.jpg);
    }

    &-2 {
      background-image: url(../img/Guitar-course-2.jpg);
    }

    &-3 {
      background-image: url(../img/Guitar-course-3.jpg);
    }

    &-4 {
      background-image: url(../img/Guitar-course-4.jpg);
    }
  }
}
