.course-box {
  // padding: 60px 14px;
  position: relative;
  font-size: 2rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: center center/cover no-repeat;

  &-main {
    background-image: url(../img/Guitar-teacher.jpg);
    height: 50rem;
    width: 100%;
  }

  &-small {
    height: 20rem;
    width: 25rem;
    margin: 0 10rem 10rem 0;
    object-fit: fill;

    &-1 {
      background-image: url(../img/Guitar-course-1.jpg);
    }

    &-2 {
      background-image: url(../img/Guitar-course-2.jpg);
    }

    &-3 {
      background-image: url(../img/Guitar-course-3.jpg);
    }

    &-4 {
      background-image: url(../img/Guitar-course-4.jpg);
    }
  }
}
