.sign-up {
  background-color: rgba(orangered, 0.2);

  margin: 5rem;
  // padding: 10rem;
  // margin-bottom: 50rem;

  &__form {
    // padding-bottom: 50rem;
  }

  &__desc {
    text-align: center;
    background-color: rgba(green, 0.4);
  }
}
