body {
  font-family: "Righteous", cursive;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.7;
  color: blue;
}

.heading-primary {
  // color: yellow;
  text-transform: uppercase;

  &--main {
    font-size: 6rem;
    color: $color-primary;
  }

  &--sub {
    font-size: 6rem;
    color: $color-secondary-light;
  }
}
