.section-about {
  background-color: $color-grey-light-2;
  padding: 20rem 0 70rem 0;
  margin-top: -25vh;
  margin-bottom: -20vh;
}

.section-features {
  padding: 15rem 0 50rem 0;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-tertiary-dark, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/GuitarBG-features.jpg);
  background-size: cover;

  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 8%);

  //   transform: skewY(-7deg);
  //   margin-top: 30rem;
}
